{% liquid
  assign text_color = section.settings.text_color | default: settings.primary_color
%}

<div class="relative flex overflow-x-hidden md:py-4 py-3 ">
  <div class="animate-marquee whitespace-nowrap space-x-24">
    {% for i in (1..50) %}
      <span class="md:text-lg text-base uppercase" style="color: {{ text_color }}">
        {{- section.settings.content -}}
      </span>
    {% endfor %}
  </div>
  <div class="absolute left-24 top-0 animate-marquee-absolute whitespace-nowrap space-x-24 h-full flex items-center">
    {% for i in (1..50) %}
      <span class="md:text-lg text-base uppercase" style="color: {{ text_color }}">{{ section.settings.content }}</span>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "t:general.marquee_text",
  "settings": [
    {
      "id": "content",
      "type": "text",
      "label": "t:general.content",
      "default": "📦 Get it now, pay less—before tomorrow!"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "t:general.colors"
    }
  ],
  "presets": [
    {
      "name": "t:general.marquee_text",
      "category": "Header"
    }
  ]
}
{% endschema %}
